* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}  
.semi-bold-roboto {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*-----------------Header------------------*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
    height: 5vh;
    width: 100%;
    background-color: #feffff; 
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#headerLeftGroup {
    display: flex;
    height: 100%;
    align-items: center;
}

#headerNavContainer {
    display: flex;
    gap:1.5rem;
    align-items: center;
}
#headerLibraryLogo {
    height: 2.5rem;
    width: auto;
    position: relative;
    bottom: .4rem;
    margin-right: .5rem;
}
#headerLeftGroup h3 {
    margin-right: 4rem;
}
#headerRightGroup {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}
#headerProfilePic {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    bottom: 0rem;
}
#logout {
    height: 1.5;
    width: auto;
}
/*-----------------------USER INPUT----------------------*/
#userInputContainer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #d3e1fc;
    
}
#userInputContainer input {
    width: 40%;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    background-color: #feffff;
    border-radius: 5px;
}
#userInputContainer #userInputBtn {
    width: 10%;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    background-color: #feffff;
    border-radius: 5px;
}
#userInput {
    padding: .5rem;
}
/*---------------------RECOMMENDED--------------*/
.recommendContainer {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d3e1fc;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.cardContainer {
    height: 87%;
    width: 10%;
    padding: 1rem;
    box-sizing: border-box;
    background: #feffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
}
.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.cardImg {
    height: 70%;
    width: 70%;
    object-fit: contain;
}
.card h4, .card h5, .card h6 {
    text-wrap: wrap;
    text-align: center;
    margin-top: .4rem;
}
.recommendText {
    width: 100%;  
    padding-left: 3rem;  
    margin-bottom: 1rem; 
}
/*---------------------User Grid----------------*/
.userBookContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: #d3e1fc;
}
.userBookGrid {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 2rem repeat(10, 1fr);
    row-gap: 1rem;
    
    
}
.userInput, .gridHeader {
    background-color: #feffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.gridHeader {
    color:#8898b8;
    background-color: #d3e1fc;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
    grid-column: span 2;
    
}
.title {
    font-weight: 500;
    color: rgb(22, 22, 22);
}
.author {
    font-weight: 400;
    font-size: .75rem;
}
.gridHeaderTitle {
    grid-column: span 2;
    padding-left: 1rem;
}
/*-------DIALOG--------------*/
dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30rem;
    height: 25rem;
    margin-top: -12.5rem;
    margin-left: -15rem;
    overflow: hidden;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}
dialog form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
form div {
    width: 95%;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.4rem;
    justify-content: space-between;
}
.dialogClose {
    height: 2rem;
    width: 5rem;
    position: absolute;
    top: 0;
    right: 0rem;
}
button.close {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
form p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
dialog form input {
    height: 2rem;
    padding: 0.5rem;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0;
}
form div label[for="read"] {
    margin-right: auto; 
}

form div:last-of-type p {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}
form div:last-of-type {
    display: flex;
    justify-content: flex-start;
    gap: 2rem; 
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(1px); 
} 
#submitBtn {
    height: 3rem;
    width: auto;
    padding: 1rem;
    
    align-content: center;
    justify-content: center;
    
}

.deleteEntry {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 2rem;
    
}
.read.userInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
